Voir : https://app.jedha.co/course/pandas-statistics-ft/explore-a-database-ft

# Explore a database

In [82]:
# Import a library that allows to read data from a csv file
# prelude
import pandas as pd

In [83]:
# Import the dataset
df = pd.read_csv("../12_assets/02_EDA/chipotle.csv")

In [84]:
# Look at the 10 first rows in the dataset
df.head(7)

,Unnamed: 0,order_id,quantity,item_name,choice_description,item_price
0,0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,1,Izze,[Clementine],$3.39
2,2,1,1,Nantucket Nectar,[Apple],$3.39
3,3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,6,3,1,Side of Chips,NaN,$1.69

In [85]:
# What is the shape of the dataset ?
df.shape

(4622, 6)

In [86]:
# Display all the columns of our dataset
df.columns

Index(['Unnamed: 0', 'order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [87]:
# How many items were ordered from Chipotle in total?
df["quantity"].sum()

4972

In [88]:
# What is the most ordered item?
print(df.groupby(["item_name"]).sum().sort_values(by="quantity", ascending=False))

                                       Unnamed: 0  order_id  quantity  \
item_name
Chicken Bowl                              1779909    713926       761
Chicken Burrito                           1238217    497303       591
Chips and Guacamole                       1121773    449959       506
Steak Burrito                              817795    328437       386
Canned Soft Drink                          759990    304753       351
Chips                                      518704    208004       230
Steak Bowl                                 482721    193752       221
Bottled Water                              439354    175944       211
Chips and Fresh Tomato Salsa               250144    100419       130
Canned Soda                                189915     76396       126
Chicken Salad Bowl                         292292    117104       123
Chicken Soft Tacos                         244891     98395       120
Side of Chips                              211009     84769       110
Veggie Burrito                             201321     80962        97
Barbacoa Burrito                           185979     74718        91
Veggie Bowl                                180046     72270        87
Carnitas Bowl                              156599     62742        71
Barbacoa Bowl                              134264     53972        66
Carnitas Burrito                           128611     51652        60
Steak Soft Tacos                           125012     50177        56
6 Pack Soft Drink                          130318     52322        55
Chips and Tomatillo Red Chili Salsa        113585     45556        50
Chicken Crispy Tacos                       118393     47382        50
Chips and Tomatillo Green Chili Salsa      102435     41170        45
Carnitas Soft Tacos                         93766     37673        40
Steak Crispy Tacos                          89408     35818        36
Chips and Tomatillo-Green Chili Salsa       54211     21826        33
Steak Salad Bowl                            73953     29590        31
Nantucket Nectar                            54403     21814        29
Chips and Tomatillo-Red Chili Salsa         45650     18344        25
Barbacoa Soft Tacos                         46454     18725        25
Chips and Roasted Chili Corn Salsa          37152     14999        23
Izze                                        26280     10587        20
Veggie Salad Bowl                           43124     17303        18
Chips and Roasted Chili-Corn Salsa          43554     17462        18
Barbacoa Crispy Tacos                       13825      5613        12
Barbacoa Salad Bowl                         24161      9708        10
Chicken Salad                               26125     10465         9
Carnitas Crispy Tacos                       14567      5868         8
Veggie Soft Tacos                           13737      5520         8
Burrito                                      3734      1550         6
Veggie Salad                                18164      7265         6
Carnitas Salad Bowl                         16710      6693         6
Bowl                                         1118       472         4
Steak Salad                                  5811      2362         4
Salad                                        2829      1150         2
Crispy Tacos                                 1041       434         2
Chips and Mild Fresh Tomato Salsa             674       279         1
Carnitas Salad                               3750      1500         1
Veggie Crispy Tacos                          1653       668         1

                                                                      choice_description  \
item_name
Chicken Bowl                           [Tomatillo-Red Chili Salsa (Hot), [Black Beans...
Chicken Burrito                        [Tomatillo-Green Chili Salsa (Medium), [Pinto ...
Chips and Guacamole                                                                    0
Steak Burrito                          [Tomatillo Red Chili Salsa, [Fajita Vegetables...
Canned Soft Drink                      [Coke][Sprite][Coke][Coke][Lemonade][Sprite][D...
Chips                                                                                  0
Steak Bowl                             [Fresh Tomato Salsa (Mild), [Black Beans, Rice...
Bottled Water                                                                          0
Chips and Fresh Tomato Salsa                                                           0
Canned Soda                            [Sprite][Dr. Pepper][Mountain Dew][Sprite][Dr....
Chicken Salad Bowl                     [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...
Chicken Soft Tacos                     [Roasted Chili Corn Salsa, [Rice, Black Beans,...
Side of Chips                                                                          0
Veggie Burrito                         [Tomatillo Red Chili Salsa, [Fajita Vegetables...
Barbacoa Burrito                       [[Fresh Tomato Salsa (Mild), Tomatillo-Green C...
Veggie Bowl                            [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...
Carnitas Bowl                          [Tomatillo-Red Chili Salsa (Hot), [Black Beans...
Barbacoa Bowl                          [Roasted Chili Corn Salsa, [Fajita Vegetables,...
Carnitas Burrito                       [[Tomatillo-Green Chili Salsa (Medium), Roaste...
Steak Soft Tacos                       [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...
6 Pack Soft Drink                      [Sprite][Diet Coke][Coke][Diet Coke][Diet Coke...
Chips and Tomatillo Red Chili Salsa                                                    0
Chicken Crispy Tacos                   [Roasted Chili Corn Salsa, [Fajita Vegetables,...
Chips and Tomatillo Green Chili Salsa                                                  0
Carnitas Soft Tacos                    [Tomatillo Green Chili Salsa, [Fajita Vegetabl...
Steak Crispy Tacos                     [Fresh Tomato Salsa, Sour Cream][[Roasted Chil...
Chips and Tomatillo-Green Chili Salsa                                                  0
Steak Salad Bowl                       [Tomatillo Red Chili Salsa, [Black Beans, Chee...
Nantucket Nectar                       [Apple][Pomegranate Cherry][Pineapple Orange B...
Chips and Tomatillo-Red Chili Salsa                                                    0
Barbacoa Soft Tacos                    [Fresh Tomato Salsa, [Fajita Vegetables, Black...
Chips and Roasted Chili Corn Salsa                                                     0
Izze                                   [Clementine][Grapefruit][Blackberry][Blackberr...
Veggie Salad Bowl                      [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...
Chips and Roasted Chili-Corn Salsa                                                     0
Barbacoa Crispy Tacos                  [Tomatillo Red Chili Salsa, [Rice, Black Beans...
Barbacoa Salad Bowl                    [Fresh Tomato Salsa, [Rice, Fajita Vegetables,...
Chicken Salad                          [Roasted Chili Corn Salsa (Medium), [Black Bea...
Carnitas Crispy Tacos                  [Roasted Chili Corn Salsa][Tomatillo Green Chi...
Veggie Soft Tacos                      [Tomatillo Red Chili Salsa, [Fajita Vegetables...
Burrito                                [Adobo-Marinated and Grilled Chicken, Pinto Be...
Veggie Salad                           [[Fresh Tomato Salsa (Mild), Roasted Chili Cor...
Carnitas Salad Bowl                    [Fresh Tomato Salsa, [Rice, Black Beans, Chees...
Bowl                                   [Braised Carnitas, Pinto Beans, [Sour Cream, C...
Steak Salad                            [Tomatillo-Red Chili Salsa (Hot), [Black Beans...
Salad                                  [Brown Rice, Adobo-Marinated and Grilled Chick...
Crispy Tacos                           [Adobo-Marinated and Grilled Steak][Adobo-Mari...
Chips and Mild Fresh Tomato Salsa                                                      0
Carnitas Salad                         [[Fresh Tomato Salsa (Mild), Roasted Chili Cor...
Veggie Crispy Tacos                    [Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...

                                                                              item_price
item_name
Chicken Bowl                           $16.98 $10.98 $11.25 $8.75 $8.49 $11.25 $8.75 ...
Chicken Burrito                        $8.49 $8.49 $10.98 $8.49 $10.98 $10.98 $8.75 $...
Chips and Guacamole                    $4.45 $4.45 $4.45 $4.45 $4.45 $3.99 $4.45 $3.9...
Steak Burrito                          $11.75 $9.25 $8.99 $11.75 $8.99 $8.99 $8.99 $8...
Canned Soft Drink                      $1.25 $1.25 $1.25 $1.25 $1.25 $1.25 $1.25 $1.2...
Chips                                  $2.15 $2.15 $2.15 $2.15 $2.15 $2.15 $4.30 $2.1...
Steak Bowl                             $8.99 $8.99 $11.75 $11.75 $8.99 $11.48 $9.25 $...
Bottled Water                          $1.09 $1.09 $1.09 $1.50 $1.50 $1.50 $3.00 $1.5...
Chips and Fresh Tomato Salsa           $2.39 $2.39 $2.39 $2.95 $2.95 $2.95 $2.95 $2.3...
Canned Soda                            $2.18 $1.09 $2.18 $1.09 $1.09 $1.09 $1.09 $2.1...
Chicken Salad Bowl                     $8.75 $22.50 $22.50 $8.75 $17.50 $8.75 $8.75 $...
Chicken Soft Tacos                     $8.75 $8.75 $8.75 $8.75 $11.25 $8.49 $8.49 $8....
Side of Chips                          $1.69 $1.69 $1.69 $1.69 $1.69 $1.69 $1.69 $1.6...
Veggie Burrito                         $11.25 $8.49 $11.25 $11.25 $10.98 $8.49 $8.49 ...
Barbacoa Burrito                       $8.99 $9.25 $9.25 $11.75 $11.75 $9.25 $8.99 $1...
Veggie Bowl                            $11.25 $8.49 $11.25 $11.25 $8.49 $11.25 $11.25...
Carnitas Bowl                          $8.99 $11.75 $9.25 $11.48 $8.99 $8.99 $23.50 $...
Barbacoa Bowl                          $11.75 $11.75 $9.25 $8.99 $9.25 $11.75 $9.25 $...
Carnitas Burrito                       $8.99 $9.25 $11.75 $9.25 $9.25 $9.25 $11.75 $9...
Steak Soft Tacos                       $9.25 $9.25 $8.99 $9.25 $8.99 $8.99 $9.25 $9.2...
6 Pack Soft Drink                      $6.49 $6.49 $6.49 $6.49 $6.49 $6.49 $6.49 $6.4...
Chips and Tomatillo Red Chili Salsa    $2.95 $2.95 $2.95 $2.95 $2.95 $2.95 $2.95 $2.9...
Chicken Crispy Tacos                   $8.75 $17.50 $11.25 $8.49 $8.49 $11.25 $8.75 $...
Chips and Tomatillo Green Chili Salsa  $2.95 $2.95 $5.90 $2.95 $2.95 $2.95 $2.95 $2.9...
Carnitas Soft Tacos                    $9.25 $9.25 $9.25 $9.25 $9.25 $8.99 $8.99 $8.9...
Steak Crispy Tacos                     $9.25 $8.99 $9.25 $8.69 $8.99 $9.25 $8.99 $9.2...
Chips and Tomatillo-Green Chili Salsa  $2.39 $2.39 $2.39 $2.39 $2.39 $2.39 $2.39 $2.3...
Steak Salad Bowl                       $23.78 $11.89 $9.39 $23.78 $11.89 $11.89 $11.8...
Nantucket Nectar                       $3.39 $3.39 $3.39 $3.39 $3.39 $3.39 $6.78 $3.3...
Chips and Tomatillo-Red Chili Salsa    $2.39 $2.39 $2.39 $2.39 $2.39 $2.39 $2.39 $2.3...
Barbacoa Soft Tacos                    $9.25 $9.25 $8.99 $9.25 $9.25 $11.75 $11.75 $9...
Chips and Roasted Chili Corn Salsa     $2.95 $2.95 $2.95 $2.95 $2.95 $2.95 $2.95 $2.9...
Izze                                   $3.39 $3.39 $3.39 $3.39 $3.39 $3.39 $3.39 $3.3...
Veggie Salad Bowl                      $11.25 $11.25 $11.25 $11.25 $8.75 $8.75 $11.25...
Chips and Roasted Chili-Corn Salsa     $2.39 $2.39 $2.39 $2.39 $2.39 $2.39 $2.39 $2.3...
Barbacoa Crispy Tacos                  $11.75 $9.25 $11.48 $11.75 $9.25 $9.25 $8.99 $...
Barbacoa Salad Bowl                    $11.89 $11.89 $9.39 $9.39 $9.39 $11.89 $11.89 ...
Chicken Salad                          $10.98 $10.98 $8.49 $8.49 $8.49 $8.49 $8.49 $8...
Carnitas Crispy Tacos                      $9.25 $11.75 $8.99 $11.75 $8.99 $17.98 $9.25
Veggie Soft Tacos                          $11.25 $8.75 $8.49 $11.25 $8.75 $8.49 $16.98
Burrito                                             $7.40 $7.40 $7.40 $7.40 $7.40 $7.40
Veggie Salad                                        $8.49 $8.49 $8.49 $8.49 $8.49 $8.49
Carnitas Salad Bowl                             $11.89 $9.39 $11.89 $9.39 $11.89 $11.89
Bowl                                                                       $22.20 $7.40
Steak Salad                                                     $8.99 $8.99 $8.99 $8.69
Salad                                                                       $7.40 $7.40
Crispy Tacos                                                                $7.40 $7.40
Chips and Mild Fresh Tomato Salsa                                                 $3.00
Carnitas Salad                                                                    $8.99
Veggie Crispy Tacos                                                               $8.49

In [89]:
df.groupby("item_name")["quantity"].sum().sort_values(ascending=False)

item_name
Chicken Bowl                             761
Chicken Burrito                          591
Chips and Guacamole                      506
Steak Burrito                            386
Canned Soft Drink                        351
Chips                                    230
Steak Bowl                               221
Bottled Water                            211
Chips and Fresh Tomato Salsa             130
Canned Soda                              126
Chicken Salad Bowl                       123
Chicken Soft Tacos                       120
Side of Chips                            110
Veggie Burrito                            97
Barbacoa Burrito                          91
Veggie Bowl                               87
Carnitas Bowl                             71
Barbacoa Bowl                             66
Carnitas Burrito                          60
Steak Soft Tacos                          56
6 Pack Soft Drink                         55
Chips and Tomatillo Red Chili Salsa       50
Chicken Crispy Tacos                      50
Chips and Tomatillo Green Chili Salsa     45
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        36
Chips and Tomatillo-Green Chili Salsa     33
Steak Salad Bowl                          31
Nantucket Nectar                          29
Chips and Tomatillo-Red Chili Salsa       25
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        23
Izze                                      20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     12
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Carnitas Crispy Tacos                      8
Veggie Soft Tacos                          8
Burrito                                    6
Veggie Salad                               6
Carnitas Salad Bowl                        6
Bowl                                       4
Steak Salad                                4
Salad                                      2
Crispy Tacos                               2
Chips and Mild Fresh Tomato Salsa          1
Carnitas Salad                             1
Veggie Crispy Tacos                        1
Name: quantity, dtype: int64

In [90]:
# How much revenue has Chipotle made?

# A. Convert item_price to a decimal number.
#   Look at column ["item_price"], what do you see?
#   Let's find a way to get that $ out of our way. Remember the .str submodule can help you üòâ
#   Let's now convert the series to float instead of string, by using .astype('float').

# B. Multiply the quantity sold by the price of the item.

# C. Add it all up, how much do you find?

In [91]:
# float(df["item_price"][1][1:])
df["price"] = df["item_price"].str.lstrip("$").astype(float)
df["amount"] = df["price"]*df["quantity"]
# print(sum(df["amount"]))
print(f'{sum(df["amount"]):_.2f}')

39_237.02

In [92]:
# What is the average revenue per order?
df.groupby(["order_id"])["amount"].sum().mean()

21.39423118865867

# House market

In [93]:
# prelude
import pandas as pd

In [94]:
# Download the four files ‚Äúsuperficie.csv‚Äù / ‚Äúnombre_de_sdb.csv‚Äù / ‚Äúnombre_de_chambres.csv‚Äù / "house_price.csv"
# Read the files and create the 4 corresponding Dataframes

surface = pd.read_csv("../12_assets/02_EDA/superficie.csv", header=None)
sdb     = pd.read_csv("../12_assets/02_EDA/nombre_de_sdb.csv", header=None)
chambre = pd.read_csv("../12_assets/02_EDA/nombre_de_chambres.csv", header=None)
price   = pd.read_csv("../12_assets/02_EDA/house_price.csv")

In [95]:
surface.head()

   0      1
0  0  28844
1  1  27667
2  2  14742
3  3  28089
4  4  11713

In [96]:
sdb.head()

   0  1
0  0  2
1  1  1
2  2  1
3  3  3
4  4  1

In [97]:
chambre.head()

   0  1
0  0  1
1  1  4
2  2  1
3  3  4
4  4  2

In [98]:
price.head()

   Unnamed: 0  id  house_price
0           0  14    1918154.0
1           1  30     739142.0
2           2  70    1621938.0
3           3  77    1319862.0
4           4  50     146250.0

In [99]:
#  Give a column name to the three datasets that don't have a header in the source file

surface.rename(columns={0: 'id', 1: 'surface'}, inplace=True)
surface.head()

   id  surface
0   0    28844
1   1    27667
2   2    14742
3   3    28089
4   4    11713

In [100]:
sdb.rename(columns={0: 'id', 1: 'bathrooms'}, inplace=True)
sdb.head()

   id  bathrooms
0   0          2
1   1          1
2   2          1
3   3          3
4   4          1

In [101]:
chambre.rename(columns={0: 'id', 1: 'rooms'}, inplace=True)
chambre.head()

   id  rooms
0   0      1
1   1      4
2   2      1
3   3      4
4   4      2

In [102]:
# print(price.columns)
price = price.drop(columns=["Unnamed: 0"])
price.head()

   id  house_price
0  14    1918154.0
1  30     739142.0
2  70    1621938.0
3  77    1319862.0
4  50     146250.0

In [103]:
# Make an inner join of these four datasets into a single dataframe

df = price.merge(chambre, left_on='id', right_on='id', how='inner')
df = df.merge(sdb, left_on='id', right_on='id', how='inner')
df = df.merge(surface, left_on='id', right_on='id', how='inner')

# On peut √©crire aussi
# df = price.merge(chambre, on='id').merge(sdb, on='id').merge(surface, on='id')  # merge performs an inner join by default

df.head()

   id  house_price  rooms  bathrooms  surface
0  14    1918154.0      4          1    26824
1  30     739142.0      4          2    23872
2  70    1621938.0      2          2    26539
3  77    1319862.0      2          1    29449
4  50     146250.0      2          3    10502

In [104]:
# What is the average surface area of the houses in our dataset?

df["surface"].mean()

20439.77

In [105]:
# What is the median and average number of rooms?
print("Median ", df["rooms"].median())
print("Mean   ", df["rooms"].mean())

Median  2.0
Mean    2.42

In [106]:
# What is the average cost of a house?
print("Mean   ", df["house_price"].mean())

Mean    767747.87

In [107]:
# What is the average cost of a house, depending on the number of rooms it has?
df.groupby(["rooms"])["house_price"].mean()

rooms
1    980774.869565
2    642086.258065
3    645904.592593
4    888045.631579
Name: house_price, dtype: float64

In [108]:
# The average cost per room doesn't tell us much. Let's try to categorize by size

# Create a new column in your dataset that we'll call home_size Create five categories that respectively correspond to:
#     "very large"  = "a house larger than 25,000 sqrt_feet"
#     "large"       = "a house between 20,000 and 25,000 sqrt_feet"
#     "medium"      = "a house between 15,000 and 20,000 sqrt_feet"
#     "small"       = "a house between 10,000 and 15,000 sqrt_feet"
#     "very small"  = a house less than 10,000 sqrt_feet"

# Fill in the corresponding rows in the house_size column.


# Les bornes des intervalles
# (0-10, 10-15, 15-20, 20-25-, 25-...) 
intervalles = [0, 10_000, 15_000, 20_000, 25_000, 100_000]

# Les √©tiquettes de chaque cat√©gorie
categories = ['very small', 'small', 'medium', 'large', 'very large']

# Utilise cut() pour cr√©er la colonne 'Cat√©gorie'
# include_lowest=True => la 1ere cat√©gorie incluera les valeurs √©gales √† la borne inf de l'intervalle
df['category'] = pd.cut(df['surface'], bins=intervalles, labels=categories, include_lowest=True)

print(df.head(20))

    id  house_price  rooms  bathrooms  surface    category
0   14    1918154.0      4          1    26824  very large
1   30     739142.0      4          2    23872       large
2   70    1621938.0      2          2    26539  very large
3   77    1319862.0      2          1    29449  very large
4   50     146250.0      2          3    10502       small
5   35    1424754.0      4          2    29792  very large
6   73    1992653.0      1          3    25890  very large
7   52     449970.0      2          2    15105      medium
8   72     171019.0      4          3    10198       small
9   98     976422.0      2          1    23738       large
10  74     854226.0      2          3    21734       large
11  79     256222.0      3          2    19788      medium
12  65    1249756.0      2          1    25847  very large
13  97     237061.0      2          1    16390      medium
14  39    1307343.0      1          3    26622  very large
15  96     155828.0      2          1    12126       small
16  57     172084.0      4          1    11614       small
17  28    1984103.0      1          3    26102  very large
18  48     562991.0      3          3    23595       large
19  71     201553.0      3          3    19772      medium

In [109]:
# What is the average cost of a house depending on its size category?
# df.groupby(["category"])["house_price"].mean().sort_values(ascending=False)

In [110]:
# What is the average cost of a house depending on its size category?
# ! Voir le observed=True
df.groupby(["category"], observed=True)["house_price"].mean().sort_values(ascending=False)

category
very large    1.552456e+06
large         7.325385e+05
medium        3.256948e+05
small         1.561387e+05
Name: house_price, dtype: float64

In [111]:
# Apply the code below to view your result. What can you conclude?
import plotly.express as px
fig = px.scatter(df, x = "surface", y = "house_price", trendline = "ols")
fig.show()

# Starbucks reviews

In [73]:
# Import pandas
# prelude
import pandas as pd

In [74]:
# Read the data from starbucks_reviews.csv

df = pd.read_csv("../12_assets/02_EDA/starbucks_reviews.csv")
df.head(10)

,name,location,Rating,Review,date
0,Helen,"Wichita Falls, TX",5.0,Amber and LaDonna at the Starbucks on Southwes...,"September 13, 2023"
1,Courtney,"Apopka, FL",5.0,** at the Starbucks by the fire station on 436...,"July 16, 2023"
2,Daynelle,"Cranberry Twp, PA",5.0,I just wanted to go out of my way to recognize...,"July 5, 2023"
3,Taylor,"Seattle, WA",5.0,Me and my friend were at Starbucks and my card...,"May 26, 2023"
4,Tenessa,"Gresham, OR",5.0,I‚Äôm on this kick of drinking 5 cups of warm wa...,"January 22, 2023"
5,Alyssa,"Sunnyvale, TX",1.0,We had to correct them on our order 3 times. T...,"September 14, 2023"
6,ken,"Spring Hill, FL",1.0,I have tried Starbucks several different times...,"September 8, 2023"
7,Nikki,"Asheville, NC",1.0,Starbucks near me just launched new fall foods...,"August 25, 2023"
8,Alex,"Reisterstown, MD",1.0,"I ordered online for the Reisterstown Rd, St T...","August 5, 2023"
9,Sunny,"Zionville, Other",1.0,Staff at the Smythe St. Superstore location in...,"August 4, 2023"

In [75]:
# How many columns/lines are in the dataset?
df.shape

(850, 5)

In [76]:
# Convert the column "date" into datetime type.
# You'll have to specify the format with python's strptime syntax
# https://docs.python.org/3/library/datetime.html#strftime-strptime-behavior

# df["price"] = df["item_price"].str.lstrip("$").astype(float)

from datetime import datetime

date_str    = 'September 13, 2023'
date_format = "%B %d, %Y"
date_obj    = datetime.strptime(date_str, date_format)
print(date_obj)

2023-09-13 00:00:00

In [77]:
df['date'] = pd.to_datetime(df['date'])
df.head()

,name,location,Rating,Review,date
0,Helen,"Wichita Falls, TX",5.0,Amber and LaDonna at the Starbucks on Southwes...,2023-09-13
1,Courtney,"Apopka, FL",5.0,** at the Starbucks by the fire station on 436...,2023-07-16
2,Daynelle,"Cranberry Twp, PA",5.0,I just wanted to go out of my way to recognize...,2023-07-05
3,Taylor,"Seattle, WA",5.0,Me and my friend were at Starbucks and my card...,2023-05-26
4,Tenessa,"Gresham, OR",5.0,I‚Äôm on this kick of drinking 5 cups of warm wa...,2023-01-22

In [78]:
df["year"] = df["date"].dt.year
df["month"] = df["date"].dt.month
df["weekday"] = df["date"].dt.weekday
df.head()

,name,location,Rating,Review,date,year,month,weekday
0,Helen,"Wichita Falls, TX",5.0,Amber and LaDonna at the Starbucks on Southwes...,2023-09-13,2023,9,2
1,Courtney,"Apopka, FL",5.0,** at the Starbucks by the fire station on 436...,2023-07-16,2023,7,6
2,Daynelle,"Cranberry Twp, PA",5.0,I just wanted to go out of my way to recognize...,2023-07-05,2023,7,2
3,Taylor,"Seattle, WA",5.0,Me and my friend were at Starbucks and my card...,2023-05-26,2023,5,4
4,Tenessa,"Gresham, OR",5.0,I‚Äôm on this kick of drinking 5 cups of warm wa...,2023-01-22,2023,1,6

In [79]:
# Convert the "Review" column into lowercase

df["Review"] = df["Review"].str.lower()
df.head()

,name,location,Rating,Review,date,year,month,weekday
0,Helen,"Wichita Falls, TX",5.0,amber and ladonna at the starbucks on southwes...,2023-09-13,2023,9,2
1,Courtney,"Apopka, FL",5.0,** at the starbucks by the fire station on 436...,2023-07-16,2023,7,6
2,Daynelle,"Cranberry Twp, PA",5.0,i just wanted to go out of my way to recognize...,2023-07-05,2023,7,2
3,Taylor,"Seattle, WA",5.0,me and my friend were at starbucks and my card...,2023-05-26,2023,5,4
4,Tenessa,"Gresham, OR",5.0,i‚Äôm on this kick of drinking 5 cups of warm wa...,2023-01-22,2023,1,6

In [80]:
# Extract features from the "Review" column:
#   Count the occurrences of the word "starbucks"
#   Count the total number of words in each review

df["count_starbucks"] = df["Review"].str.count("starbucks")
df["wordcount"] = df["Review"].str.split().str.len()
df.head()

,name,location,Rating,Review,date,year,month,weekday,count_starbucks,wordcount
0,Helen,"Wichita Falls, TX",5.0,amber and ladonna at the starbucks on southwes...,2023-09-13,2023,9,2,1,60
1,Courtney,"Apopka, FL",5.0,** at the starbucks by the fire station on 436...,2023-07-16,2023,7,6,2,105
2,Daynelle,"Cranberry Twp, PA",5.0,i just wanted to go out of my way to recognize...,2023-07-05,2023,7,2,1,72
3,Taylor,"Seattle, WA",5.0,me and my friend were at starbucks and my card...,2023-05-26,2023,5,4,1,86
4,Tenessa,"Gresham, OR",5.0,i‚Äôm on this kick of drinking 5 cups of warm wa...,2023-01-22,2023,1,6,3,74

In [81]:
# Use pandas' .describe() method to get some basic statistics about the dataset and answer the questions below:
#     Are the reviews rather good or bad?
#     Are the reviews recent or old?
#     Are the reviews rather long or short?
#     Do people mention a lot the word "starbuck" ?

df.describe(include='all')

,name,location,Rating,Review,date,year,month,weekday,count_starbucks,wordcount
count,850,850,705.000000,850,850,850.000000,850.000000,850.000000,850.000000,850.000000
unique,604,633,NaN,814,NaN,NaN,NaN,NaN,NaN,NaN
top,Linda,"New York, NY",NaN,no review text,NaN,NaN,NaN,NaN,NaN,NaN
freq,13,14,NaN,37,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,1.870922,NaN,2016-02-17 12:38:57.882352896,2015.600000,6.897647,2.955294,1.241176,88.243529
min,NaN,NaN,1.000000,NaN,2000-07-19 00:00:00,2000.000000,1.000000,0.000000,0.000000,3.000000
25%,NaN,NaN,1.000000,NaN,2012-09-26 18:00:00,2012.000000,4.000000,1.000000,0.000000,50.000000
50%,NaN,NaN,1.000000,NaN,2016-05-31 00:00:00,2016.000000,7.000000,3.000000,1.000000,85.000000
75%,NaN,NaN,2.000000,NaN,2019-01-06 06:00:00,2019.000000,10.000000,5.000000,2.000000,123.000000
max,NaN,NaN,5.000000,NaN,2023-09-14 00:00:00,2023.000000,12.000000,6.000000,9.000000,219.000000
std,NaN,NaN,1.397672,NaN,NaN,4.258436,3.400633,1.961437,1.248584,46.339488