Voir : https://app.jedha.co/course/web-scraping-ft/become-a-movie-director-ft

## 6 - Based on the results obtained, create a list called url_list containing all the urls for the movies in the charts.

In [2]:
# prelude

import json
import pandas as pd

In [13]:
# En allant sur imdb et en cliquant sur les films on a des url du type
# https://www.imdb.com/title/tt21235248/?ref_=chtbo_t_1

# Dans imdb2.json on des url du type : "url": "/title/tt21235248/?ref_=chtbo_t_1"

# Faut lire, extraire, concatener


# with open("imdb2.json") as my_file:
#   data = json.load(my_file)

# data

df = pd.read_json("imdb2.json")

df["url"]= "https://www.imdb.com" + df["url"] 
df["url"]

0    https://www.imdb.com/title/tt21235248/?ref_=ch...
1    https://www.imdb.com/title/tt15239678/?ref_=ch...
2    https://www.imdb.com/title/tt21692408/?ref_=ch...
3    https://www.imdb.com/title/tt23137390/?ref_=ch...
4    https://www.imdb.com/title/tt10720352/?ref_=ch...
5    https://www.imdb.com/title/tt14966898/?ref_=ch...
6    https://www.imdb.com/title/tt26658104/?ref_=ch...
7    https://www.imdb.com/title/tt19637052/?ref_=ch...
8    https://www.imdb.com/title/tt14351082/?ref_=ch...
9    https://www.imdb.com/title/tt8521778/?ref_=cht...
Name: url, dtype: object

## 7 - Store the list of urls to a file called url_list.txt

In [14]:
df["url"].to_csv("url_list.txt")

In [1]:
# Testing
!python "hello.py"

Hello Pr FALKEN...

## 8 - Scrape all the pages from the movies in the charts 

Extract 
1. The complete cast
1. The Storyline
1. The genres
1. Save the title 
1. Save the url for future joins purposes

### Pay attention to inconsistencies between pages

   Unnamed: 0                                                url
0           0  https://www.imdb.com/title/tt21235248/?ref_=ch...
1           1  https://www.imdb.com/title/tt15239678/?ref_=ch...
2           2  https://www.imdb.com/title/tt21692408/?ref_=ch...
3           3  https://www.imdb.com/title/tt23137390/?ref_=ch...
4           4  https://www.imdb.com/title/tt10720352/?ref_=ch...
5           5  https://www.imdb.com/title/tt14966898/?ref_=ch...
6           6  https://www.imdb.com/title/tt26658104/?ref_=ch...
7           7  https://www.imdb.com/title/tt19637052/?ref_=ch...
8           8  https://www.imdb.com/title/tt14351082/?ref_=ch...
9           9  https://www.imdb.com/title/tt8521778/?ref_=cht...

https://www.imdb.com/title/tt21235248/?ref_=chtbo_t_1
https://www.imdb.com/title/tt15239678/?ref_=chtbo_t_2
https://www.imdb.com/title/tt21692408/?ref_=chtbo_t_3
https://www.imdb.com/title/tt23137390/?ref_=chtbo_t_4
https://www.imdb.com/title/tt10720352/?ref_=chtbo_t_5
https://www.imdb.com/title/tt14966898/?ref_=chtbo_t_6
https://www.imdb.com/title/tt26658104/?ref_=chtbo_t_7
https://www.imdb.com/title/tt19637052/?ref_=chtbo_t_8
https://www.imdb.com/title/tt14351082/?ref_=chtbo_t_9
https://www.imdb.com/title/tt8521778/?ref_=chtbo_t_10