# Exercise: practice SQLAlchemy

Let's configure our first RDS instance on AWS and then use SQLAlchemy to write into our remote database and make some SQL queries!

1. Follow the instructions/videos from yesterday (M03-D03/04-Amazon-RDS.ipynb) to create your own RDS instance on AWS 
2. Download <a href="https://www.pgadmin.org/download/" target="_blank">PGAdmin</a> and configure it to access your remote database

If you get stuck at some step, don't hesitate to ask for help to your classmates, your teacher or your TA ðŸ¤—.

**Before continuing, please execute the cell below, this will install a package that is required to access your remote database from this notebook:**

In [ ]:
# !pip install psycopg2-binary

3. Create an sqlalchemy engine that is connected to your AWS RDS instance

In [28]:
import my_api_id as key
from sqlalchemy import create_engine, text

engine = create_engine(f"postgresql+psycopg2://{key.USERNAME}:{key.PASSWORD}@{key.HOSTNAME}/{key.DBNAME}", echo=True)

In [4]:
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey

meta = MetaData()

# Define table "customers"
customers = Table(
    'customers', 
    meta,
    Column('id', Integer, primary_key = True),
    Column('name', String),
    Column('country', String),
    Column('job', String),
    Column('age', Integer),
)

In [29]:
meta.create_all(engine)

2024-04-02 14:50:34,330 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2024-04-02 14:50:34,335 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-02 14:50:34,345 INFO sqlalchemy.engine.Engine select current_schema()
2024-04-02 14:50:34,346 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-02 14:50:34,354 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2024-04-02 14:50:34,356 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-02 14:50:34,364 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-02 14:50:34,368 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2024-04-02 14:50:34,370 INFO sqlalchemy.engine.Engine [generated in 0.00160s] {'table_name': 'customers', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2024-04-02 14:50:34,386 INFO sqlalchemy.engine.Engine COMMIT

In [6]:
conn = engine.connect()

values = [
    {"name" : "Sauerkraut", "country" : "Germany", "job" : "engineer", "age" : "37"},
    {"name" : "Jones", "country" : "United Kingdom", "job" : "journalist", "age" : "52"},
    {"name" : "Dupont", "country" : "France", "job" : "dancer", "age" : "25"},
]

conn.execute(customers.insert(), values)
conn.commit()

2024-04-02 14:19:36,387 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-02 14:19:36,389 INFO sqlalchemy.engine.Engine INSERT INTO customers (name, country, job, age) VALUES (%(name__0)s, %(country__0)s, %(job__0)s, %(age__0)s), (%(name__1)s, %(country__1)s, %(job__1)s, %(age__1)s), (%(name__2)s, %(country__2)s, %(job__2)s, %(age__2)s)
2024-04-02 14:19:36,390 INFO sqlalchemy.engine.Engine [generated in 0.00135s (insertmanyvalues)] {'name__0': 'Sauerkraut', 'job__0': 'engineer', 'age__0': '37', 'country__0': 'Germany', 'name__1': 'Jones', 'job__1': 'journalist', 'age__1': '52', 'country__1': 'United Kingdom', 'name__2': 'Dupont', 'job__2': 'dancer', 'age__2': '25', 'country__2': 'France'}
2024-04-02 14:19:36,403 INFO sqlalchemy.engine.Engine COMMIT

4. Create a new table named `customers` in your remote database and insert the following data :

| id | name       | country        | job        | age |
|----|------------|----------------|------------|-----|
| 1  | Sauerkraut | Germany        | engineer   | 37  |
| 2  | Jones      | United Kingdom | journalist | 52  |
| 3  | Dupont     | France         | dancer     | 25  |

Optionnal: Use PGAdmin to check that the table has been created without any mistake

In [7]:
from sqlalchemy.sql import text

# Create a statement
stmt = text(
  "SELECT * FROM customers "
)

result = conn.execute(stmt)

2024-04-02 14:23:59,309 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-02 14:23:59,309 INFO sqlalchemy.engine.Engine SELECT * FROM customers
2024-04-02 14:23:59,311 INFO sqlalchemy.engine.Engine [generated in 0.00229s] {}

In [8]:
result.fetchall()

[(1, 'Sauerkraut', 'Germany', 'engineer', 37),
 (2, 'Jones', 'United Kingdom', 'journalist', 52),
 (3, 'Dupont', 'France', 'dancer', 25)]

In [7]:
# Create table here

2020-09-04 15:23:20,919 INFO sqlalchemy.engine.base.Engine select version()
2020-09-04 15:23:20,920 INFO sqlalchemy.engine.base.Engine {}
2020-09-04 15:23:21,087 INFO sqlalchemy.engine.base.Engine select current_schema()
2020-09-04 15:23:21,088 INFO sqlalchemy.engine.base.Engine {}
2020-09-04 15:23:21,257 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-09-04 15:23:21,258 INFO sqlalchemy.engine.base.Engine {}
2020-09-04 15:23:21,346 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-09-04 15:23:21,347 INFO sqlalchemy.engine.base.Engine {}
2020-09-04 15:23:21,430 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2020-09-04 15:23:21,431 INFO sqlalchemy.engine.base.Engine {}
2020-09-04 15:23:21,598 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2020-09-04 15:23:21,599 INFO sqlalchemy.engine.base.Engine {'name': 'customers'}
2020-09-04 15:23:21,768 INFO sqlalchemy.engine.base.Engine
CREATE TABLE customers (
	id SERIAL NOT NULL,
	name VARCHAR,
	country VARCHAR,
	job VARCHAR,
	age INTEGER,
	PRIMARY KEY (id)
)


2020-09-04 15:23:21,769 INFO sqlalchemy.engine.base.Engine {}
2020-09-04 15:23:21,916 INFO sqlalchemy.engine.base.Engine COMMIT

In [52]:
# Create instances of User

# Initialize a sessionmaker 

# Instanciate Session 

# Add values to db 

# Commit the results

5. Execute the cell below to download the famous iris dataset:

In [30]:
import seaborn as sns
df_iris = sns.load_dataset("iris")
df_iris.sample(5)

    sepal_length  sepal_width  petal_length  petal_width     species
89           5.5          2.5           4.0          1.3  versicolor
43           5.0          3.5           1.6          0.6      setosa
47           4.6          3.2           1.4          0.2      setosa
44           5.1          3.8           1.9          0.4      setosa
45           4.8          3.0           1.4          0.3      setosa

6. Create a table in your remote database containing the information of the dataset:

In [31]:
df_iris.to_sql(
    "iris",
    engine
)

2024-04-02 14:50:49,174 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-02 14:50:49,174 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2024-04-02 14:50:49,177 INFO sqlalchemy.engine.Engine [cached since 14.81s ago] {'table_name': 'iris', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2024-04-02 14:50:49,188 INFO sqlalchemy.engine.Engine
CREATE TABLE iris (
	index BIGINT,
	sepal_length FLOAT(53),
	sepal_width FLOAT(53),
	petal_length FLOAT(53),
	petal_width FLOAT(53),
	species TEXT
)


2024-04-02 14:50:49,189 INFO sqlalchemy.engine.Engine [no key 0.00087s] {}
2024-04-02 14:50:49,200 INFO sqlalchemy.engine.Engine CREATE INDEX ix_iris_index ON iris (index)
2024-04-02 14:50:49,201 INFO sqlalchemy.engine.Engine [no key 0.00091s] {}
2024-04-02 14:50:49,212 INFO sqlalchemy.engine.Engine INSERT INTO iris (index, sepal_length, sepal_width, petal_length, petal_width, species) VALUES (%(index__0)s, %(sepal_length__0)s, %(sepal_width__0)s, %(petal_length__0)s, %(petal_width__0)s, %(species__0)s), (%(index__1)s, %(sepal_length__1)s, %(sep ... 17983 characters truncated ... _length__149)s, %(sepal_width__149)s, %(petal_length__149)s, %(petal_width__149)s, %(species__149)s)
2024-04-02 14:50:49,212 INFO sqlalchemy.engine.Engine [generated in 0.00038s (insertmanyvalues)] {'sepal_width__0': 3.5, 'petal_width__0': 0.2, 'petal_length__0': 1.4, 'sepal_length__0': 5.1, 'species__0': 'setosa', 'index__0': 0, 'sepal_width__1': 3.0, 'petal_width__1': 0.2, 'petal_length__1': 1.4, 'sepal_length__1': 4.9, 'species__1': 'setosa', 'index__1': 1, 'sepal_width__2': 3.2, 'petal_width__2': 0.2, 'petal_length__2': 1.3, 'sepal_length__2': 4.7, 'species__2': 'setosa', 'index__2': 2, 'sepal_width__3': 3.1, 'petal_width__3': 0.2, 'petal_length__3': 1.5, 'sepal_length__3': 4.6, 'species__3': 'setosa', 'index__3': 3, 'sepal_width__4': 3.6, 'petal_width__4': 0.2, 'petal_length__4': 1.4, 'sepal_length__4': 5.0, 'species__4': 'setosa', 'index__4': 4, 'sepal_width__5': 3.9, 'petal_width__5': 0.4, 'petal_length__5': 1.7, 'sepal_length__5': 5.4, 'species__5': 'setosa', 'index__5': 5, 'sepal_width__6': 3.4, 'petal_width__6': 0.3, 'petal_length__6': 1.4, 'sepal_length__6': 4.6, 'species__6': 'setosa', 'index__6': 6, 'sepal_width__7': 3.4, 'petal_width__7': 0.2, 'petal_length__7': 1.5, 'sepal_length__7': 5.0, 'species__7': 'setosa', 'index__7': 7, 'sepal_width__8': 2.9, 'petal_width__8': 0.2 ... 800 parameters truncated ... 'species__141': 'virginica', 'index__141': 141, 'sepal_width__142': 2.7, 'petal_width__142': 1.9, 'petal_length__142': 5.1, 'sepal_length__142': 5.8, 'species__142': 'virginica', 'index__142': 142, 'sepal_width__143': 3.2, 'petal_width__143': 2.3, 'petal_length__143': 5.9, 'sepal_length__143': 6.8, 'species__143': 'virginica', 'index__143': 143, 'sepal_width__144': 3.3, 'petal_width__144': 2.5, 'petal_length__144': 5.7, 'sepal_length__144': 6.7, 'species__144': 'virginica', 'index__144': 144, 'sepal_width__145': 3.0, 'petal_width__145': 2.3, 'petal_length__145': 5.2, 'sepal_length__145': 6.7, 'species__145': 'virginica', 'index__145': 145, 'sepal_width__146': 2.5, 'petal_width__146': 1.9, 'petal_length__146': 5.0, 'sepal_length__146': 6.3, 'species__146': 'virginica', 'index__146': 146, 'sepal_width__147': 3.0, 'petal_width__147': 2.0, 'petal_length__147': 5.2, 'sepal_length__147': 6.5, 'species__147': 'virginica', 'index__147': 147, 'sepal_width__148': 3.4, 'petal_width__148': 2.3, 'petal_length__148': 5.4, 'sepal_length__148': 6.2, 'species__148': 'virginica', 'index__148': 148, 'sepal_width__149': 3.0, 'petal_width__149': 1.8, 'petal_length__149': 5.1, 'sepal_length__149': 5.9, 'species__149': 'virginica', 'index__149': 149}
2024-04-02 14:50:49,221 INFO sqlalchemy.engine.Engine COMMIT

150

### Now let's make some SQL requests !

To answer the following questions, don't hesitate to refer to <a href="https://www.sqltutorial.org/sql-cheat-sheet/" target="_blank">this cheatsheet</a>. ðŸ˜‰

7. What are the different species present in this dataset?

In [45]:
conn = engine.connect()
stmt = text(
  "SELECT * FROM iris"
)
result = conn.execute(stmt)

2024-04-02 15:02:25,114 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-02 15:02:25,115 INFO sqlalchemy.engine.Engine SELECT * FROM iris
2024-04-02 15:02:25,115 INFO sqlalchemy.engine.Engine [cached since 279s ago] {}

In [46]:
result.fetchall()

[(0, 5.1, 3.5, 1.4, 0.2, 'setosa'),
 (1, 4.9, 3.0, 1.4, 0.2, 'setosa'),
 (2, 4.7, 3.2, 1.3, 0.2, 'setosa'),
 (3, 4.6, 3.1, 1.5, 0.2, 'setosa'),
 (4, 5.0, 3.6, 1.4, 0.2, 'setosa'),
 (5, 5.4, 3.9, 1.7, 0.4, 'setosa'),
 (6, 4.6, 3.4, 1.4, 0.3, 'setosa'),
 (7, 5.0, 3.4, 1.5, 0.2, 'setosa'),
 (8, 4.4, 2.9, 1.4, 0.2, 'setosa'),
 (9, 4.9, 3.1, 1.5, 0.1, 'setosa'),
 (10, 5.4, 3.7, 1.5, 0.2, 'setosa'),
 (11, 4.8, 3.4, 1.6, 0.2, 'setosa'),
 (12, 4.8, 3.0, 1.4, 0.1, 'setosa'),
 (13, 4.3, 3.0, 1.1, 0.1, 'setosa'),
 (14, 5.8, 4.0, 1.2, 0.2, 'setosa'),
 (15, 5.7, 4.4, 1.5, 0.4, 'setosa'),
 (16, 5.4, 3.9, 1.3, 0.4, 'setosa'),
 (17, 5.1, 3.5, 1.4, 0.3, 'setosa'),
 (18, 5.7, 3.8, 1.7, 0.3, 'setosa'),
 (19, 5.1, 3.8, 1.5, 0.3, 'setosa'),
 (20, 5.4, 3.4, 1.7, 0.2, 'setosa'),
 (21, 5.1, 3.7, 1.5, 0.4, 'setosa'),
 (22, 4.6, 3.6, 1.0, 0.2, 'setosa'),
 (23, 5.1, 3.3, 1.7, 0.5, 'setosa'),
 (24, 4.8, 3.4, 1.9, 0.2, 'setosa'),
 (25, 5.0, 3.0, 1.6, 0.2, 'setosa'),
 (26, 5.0, 3.4, 1.6, 0.4, 'setosa'),
 (27, 5.2, 3.5, 1.5, 0.2, 'setosa'),
 (28, 5.2, 3.4, 1.4, 0.2, 'setosa'),
 (29, 4.7, 3.2, 1.6, 0.2, 'setosa'),
 (30, 4.8, 3.1, 1.6, 0.2, 'setosa'),
 (31, 5.4, 3.4, 1.5, 0.4, 'setosa'),
 (32, 5.2, 4.1, 1.5, 0.1, 'setosa'),
 (33, 5.5, 4.2, 1.4, 0.2, 'setosa'),
 (34, 4.9, 3.1, 1.5, 0.2, 'setosa'),
 (35, 5.0, 3.2, 1.2, 0.2, 'setosa'),
 (36, 5.5, 3.5, 1.3, 0.2, 'setosa'),
 (37, 4.9, 3.6, 1.4, 0.1, 'setosa'),
 (38, 4.4, 3.0, 1.3, 0.2, 'setosa'),
 (39, 5.1, 3.4, 1.5, 0.2, 'setosa'),
 (40, 5.0, 3.5, 1.3, 0.3, 'setosa'),
 (41, 4.5, 2.3, 1.3, 0.3, 'setosa'),
 (42, 4.4, 3.2, 1.3, 0.2, 'setosa'),
 (43, 5.0, 3.5, 1.6, 0.6, 'setosa'),
 (44, 5.1, 3.8, 1.9, 0.4, 'setosa'),
 (45, 4.8, 3.0, 1.4, 0.3, 'setosa'),
 (46, 5.1, 3.8, 1.6, 0.2, 'setosa'),
 (47, 4.6, 3.2, 1.4, 0.2, 'setosa'),
 (48, 5.3, 3.7, 1.5, 0.2, 'setosa'),
 (49, 5.0, 3.3, 1.4, 0.2, 'setosa'),
 (50, 7.0, 3.2, 4.7, 1.4, 'versicolor'),
 (51, 6.4, 3.2, 4.5, 1.5, 'versicolor'),
 (52, 6.9, 3.1, 4.9, 1.5, 'versicolor'),
 (53, 5.5, 2.3, 4.0, 1.3, 'versicolor'),
 (54, 6.5, 2.8, 4.6, 1.5, 'versicolor'),
 (55, 5.7, 2.8, 4.5, 1.3, 'versicolor'),
 (56, 6.3, 3.3, 4.7, 1.6, 'versicolor'),
 (57, 4.9, 2.4, 3.3, 1.0, 'versicolor'),
 (58, 6.6, 2.9, 4.6, 1.3, 'versicolor'),
 (59, 5.2, 2.7, 3.9, 1.4, 'versicolor'),
 (60, 5.0, 2.0, 3.5, 1.0, 'versicolor'),
 (61, 5.9, 3.0, 4.2, 1.5, 'versicolor'),
 (62, 6.0, 2.2, 4.0, 1.0, 'versicolor'),
 (63, 6.1, 2.9, 4.7, 1.4, 'versicolor'),
 (64, 5.6, 2.9, 3.6, 1.3, 'versicolor'),
 (65, 6.7, 3.1, 4.4, 1.4, 'versicolor'),
 (66, 5.6, 3.0, 4.5, 1.5, 'versicolor'),
 (67, 5.8, 2.7, 4.1, 1.0, 'versicolor'),
 (68, 6.2, 2.2, 4.5, 1.5, 'versicolor'),
 (69, 5.6, 2.5, 3.9, 1.1, 'versicolor'),
 (70, 5.9, 3.2, 4.8, 1.8, 'versicolor'),
 (71, 6.1, 2.8, 4.0, 1.3, 'versicolor'),
 (72, 6.3, 2.5, 4.9, 1.5, 'versicolor'),
 (73, 6.1, 2.8, 4.7, 1.2, 'versicolor'),
 (74, 6.4, 2.9, 4.3, 1.3, 'versicolor'),
 (75, 6.6, 3.0, 4.4, 1.4, 'versicolor'),
 (76, 6.8, 2.8, 4.8, 1.4, 'versicolor'),
 (77, 6.7, 3.0, 5.0, 1.7, 'versicolor'),
 (78, 6.0, 2.9, 4.5, 1.5, 'versicolor'),
 (79, 5.7, 2.6, 3.5, 1.0, 'versicolor'),
 (80, 5.5, 2.4, 3.8, 1.1, 'versicolor'),
 (81, 5.5, 2.4, 3.7, 1.0, 'versicolor'),
 (82, 5.8, 2.7, 3.9, 1.2, 'versicolor'),
 (83, 6.0, 2.7, 5.1, 1.6, 'versicolor'),
 (84, 5.4, 3.0, 4.5, 1.5, 'versicolor'),
 (85, 6.0, 3.4, 4.5, 1.6, 'versicolor'),
 (86, 6.7, 3.1, 4.7, 1.5, 'versicolor'),
 (87, 6.3, 2.3, 4.4, 1.3, 'versicolor'),
 (88, 5.6, 3.0, 4.1, 1.3, 'versicolor'),
 (89, 5.5, 2.5, 4.0, 1.3, 'versicolor'),
 (90, 5.5, 2.6, 4.4, 1.2, 'versicolor'),
 (91, 6.1, 3.0, 4.6, 1.4, 'versicolor'),
 (92, 5.8, 2.6, 4.0, 1.2, 'versicolor'),
 (93, 5.0, 2.3, 3.3, 1.0, 'versicolor'),
 (94, 5.6, 2.7, 4.2, 1.3, 'versicolor'),
 (95, 5.7, 3.0, 4.2, 1.2, 'versicolor'),
 (96, 5.7, 2.9, 4.2, 1.3, 'versicolor'),
 (97, 6.2, 2.9, 4.3, 1.3, 'versicolor'),
 (98, 5.1, 2.5, 3.0, 1.1, 'versicolor'),
 (99, 5.7, 2.8, 4.1, 1.3, 'versicolor'),
 (100, 6.3, 3.3, 6.0, 2.5, 'virginica'),
 (101, 5.8, 2.7, 5.1, 1.9, 'virginica'),
 (102, 7.1, 3.0, 5.9, 2.1, 'virginica'),
 (103, 6.3, 2.9, 5.6, 1.8, 'virginica'),
 (104, 6.5, 3.0, 5.8, 2.2, 'virginica'),
 (105, 7.6, 3.0, 6.6, 2.1, 'virginica'),
 (106, 4.9, 2.5, 4.5, 1.7, 'virginica'),
 (107, 7.3, 2.9, 6.3, 1.8, 'virginica'),
 (108, 6.7, 2.5, 5.8, 1.8, 'virginica'),
 (109, 7.2, 3.6, 6.1, 2.5, 'virginica'),
 (110, 6.5, 3.2, 5.1, 2.0, 'virginica'),
 (111, 6.4, 2.7, 5.3, 1.9, 'virginica'),
 (112, 6.8, 3.0, 5.5, 2.1, 'virginica'),
 (113, 5.7, 2.5, 5.0, 2.0, 'virginica'),
 (114, 5.8, 2.8, 5.1, 2.4, 'virginica'),
 (115, 6.4, 3.2, 5.3, 2.3, 'virginica'),
 (116, 6.5, 3.0, 5.5, 1.8, 'virginica'),
 (117, 7.7, 3.8, 6.7, 2.2, 'virginica'),
 (118, 7.7, 2.6, 6.9, 2.3, 'virginica'),
 (119, 6.0, 2.2, 5.0, 1.5, 'virginica'),
 (120, 6.9, 3.2, 5.7, 2.3, 'virginica'),
 (121, 5.6, 2.8, 4.9, 2.0, 'virginica'),
 (122, 7.7, 2.8, 6.7, 2.0, 'virginica'),
 (123, 6.3, 2.7, 4.9, 1.8, 'virginica'),
 (124, 6.7, 3.3, 5.7, 2.1, 'virginica'),
 (125, 7.2, 3.2, 6.0, 1.8, 'virginica'),
 (126, 6.2, 2.8, 4.8, 1.8, 'virginica'),
 (127, 6.1, 3.0, 4.9, 1.8, 'virginica'),
 (128, 6.4, 2.8, 5.6, 2.1, 'virginica'),
 (129, 7.2, 3.0, 5.8, 1.6, 'virginica'),
 (130, 7.4, 2.8, 6.1, 1.9, 'virginica'),
 (131, 7.9, 3.8, 6.4, 2.0, 'virginica'),
 (132, 6.4, 2.8, 5.6, 2.2, 'virginica'),
 (133, 6.3, 2.8, 5.1, 1.5, 'virginica'),
 (134, 6.1, 2.6, 5.6, 1.4, 'virginica'),
 (135, 7.7, 3.0, 6.1, 2.3, 'virginica'),
 (136, 6.3, 3.4, 5.6, 2.4, 'virginica'),
 (137, 6.4, 3.1, 5.5, 1.8, 'virginica'),
 (138, 6.0, 3.0, 4.8, 1.8, 'virginica'),
 (139, 6.9, 3.1, 5.4, 2.1, 'virginica'),
 (140, 6.7, 3.1, 5.6, 2.4, 'virginica'),
 (141, 6.9, 3.1, 5.1, 2.3, 'virginica'),
 (142, 5.8, 2.7, 5.1, 1.9, 'virginica'),
 (143, 6.8, 3.2, 5.9, 2.3, 'virginica'),
 (144, 6.7, 3.3, 5.7, 2.5, 'virginica'),
 (145, 6.7, 3.0, 5.2, 2.3, 'virginica'),
 (146, 6.3, 2.5, 5.0, 1.9, 'virginica'),
 (147, 6.5, 3.0, 5.2, 2.0, 'virginica'),
 (148, 6.2, 3.4, 5.4, 2.3, 'virginica'),
 (149, 5.9, 3.0, 5.1, 1.8, 'virginica')]

In [47]:
stmt = text(
  "SELECT DISTINCT species FROM iris "
)
result = conn.execute(stmt)
result.fetchall()

2024-04-02 15:02:31,485 INFO sqlalchemy.engine.Engine SELECT DISTINCT species FROM iris
2024-04-02 15:02:31,485 INFO sqlalchemy.engine.Engine [cached since 275.1s ago] {}

[('setosa',), ('virginica',), ('versicolor',)]

8. What is the average sepal length among all species?

In [48]:
stmt = text(
  "SELECT AVG(sepal_length) FROM iris"
)
result = conn.execute(stmt)
result.fetchall()

2024-04-02 15:02:37,752 INFO sqlalchemy.engine.Engine SELECT AVG(sepal_length) FROM iris
2024-04-02 15:02:37,752 INFO sqlalchemy.engine.Engine [cached since 272.9s ago] {}

[(5.843333333333335,)]

9. What is the average sepal length for each species?

In [49]:
stmt = text(
  "SELECT AVG(sepal_length) FROM iris GROUP BY species"
)
result = conn.execute(stmt)
result.fetchall()

2024-04-02 15:02:42,161 INFO sqlalchemy.engine.Engine SELECT AVG(sepal_length) FROM iris GROUP BY species
2024-04-02 15:02:42,162 INFO sqlalchemy.engine.Engine [cached since 33.89s ago] {}

[(5.005999999999999,), (6.587999999999998,), (5.936,)]

10. How many samples of 'virginica' have sepal length < 6?

In [50]:
stmt = text(
  "SELECT COUNT(*) FROM iris WHERE species = 'virginica' AND sepal_length < 6"
)
result = conn.execute(stmt)
result.fetchall()

2024-04-02 15:07:09,705 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM iris WHERE species = 'virginica' AND sepal_length < 6
2024-04-02 15:07:09,705 INFO sqlalchemy.engine.Engine [generated in 0.00087s] {}

[(7,)]

11. For each species, count the number of samples having sepal length < 6:

In [51]:


stmt = text(
  "SELECT species, COUNT(*) FROM iris WHERE sepal_length < 6 GROUP BY species"
)
result = conn.execute(stmt)
result.fetchall()

2024-04-02 15:09:05,471 INFO sqlalchemy.engine.Engine SELECT species, COUNT(*) FROM iris WHERE sepal_length < 6 GROUP BY species
2024-04-02 15:09:05,472 INFO sqlalchemy.engine.Engine [generated in 0.00088s] {}

[('setosa', 50), ('virginica', 7), ('versicolor', 26)]