In [5]:
import pandas as pd
import requests

kCsvUrl   = 'https://full-stack-assets.s3.eu-west-3.amazonaws.com/M03-EDA/Speed+Dating+Data.csv'
kFileName = "downloaded_data.csv"

In [6]:
with requests.Session() as s:
  download = s.get(kCsvUrl)

In [7]:
with open(kFileName, "wb") as f:
  f.write(download.content)

In [8]:
df = pd.read_csv(kFileName, encoding='unicode_escape')
display(df.sample(5))

,iid,id,gender,idg,condtn,wave,round,position,positin1,order,...,attr3_3,sinc3_3,intel3_3,fun3_3,amb3_3,attr5_3,sinc5_3,intel5_3,fun5_3,amb5_3
6181,402,6.0,1,12,2,15,18,16,8.0,9,...,6.0,8.0,9.0,7.0,8.0,6.0,8.0,9.0,6.0,7.0
7053,477,12.0,0,23,2,19,15,4,4.0,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3354,231,18.0,1,36,2,9,20,18,8.0,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2218,162,5.0,1,10,2,7,16,13,14.0,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4142,279,7.0,1,14,2,11,21,11,11.0,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN