# California Housing Market : Feature engineering and feature selection
In the previous exercise, we concluded it was worth including more variables in a model. But is this set of variables **the best** we could have chosen ? In this exercises, we'll go further by applying two canonical methods:
* Feature engineering consists in creating more variables from the original dataset
* Feature selection allows to select the best set of features among all the available variables

## The dataset
1. Load the California Housing dataset again and remove the outliers:

In [1]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import  OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn import datasets
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning) # to avoid deprecation warnings

import plotly.express as px
import plotly.graph_objects as go
import plotly.io as pio
# setting Jedha color palette as default
pio.templates["jedha"] = go.layout.Template(
    layout_colorway=["#4B9AC7", "#4BE8E0", "#9DD4F3", "#97FBF6", "#2A7FAF", "#23B1AB", "#0E3449", "#015955"]
)
pio.templates.default = "jedha"
#pio.renderers.default = "svg" # to be replaced by "iframe" if working on JULIE

In [2]:
# Download data into a pandas DataFrame
data = datasets.fetch_california_housing(data_home=None, download_if_missing=True, return_X_y=False)
dataset = pd.DataFrame(columns=data["feature_names"], data=data["data"])
dataset.loc[:,'Price'] = data["target"]
dataset.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,Price
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [3]:
# Remove outliers
mask = (dataset['AveRooms'] < 10) & (dataset['AveBedrms'] < 10) & (dataset['Population'] < 15000) & \
    (dataset['AveOccup'] < 10) & (dataset['Price'] < 5)
dataset = dataset.loc[mask,:]

In [4]:
# Basic stats
print("Number of rows : {}".format(dataset.shape[0]))
print()

print("Display of dataset: ")
display(dataset.head())
print()

print("Basics statistics: ")
data_desc = dataset.describe(include='all')
display(data_desc)
print()

print("Percentage of missing values: ")
display(100*dataset.isnull().sum()/dataset.shape[0])

Number of rows : 19398

Display of dataset:

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,Price
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

Basics statistics:

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,Price
count,19398.000000,19398.000000,19398.000000,19398.000000,19398.000000,19398.000000,19398.000000,19398.000000,19398.000000
mean,3.674497,28.496907,5.210648,1.066038,1442.172080,2.944640,35.637872,-119.567484,1.924128
std,1.563397,12.477953,1.168098,0.128846,1077.498768,0.766194,2.142960,2.004793,0.971784
min,0.499900,1.000000,0.846154,0.333333,3.000000,0.750000,32.540000,-124.350000,0.149990
25%,2.525900,18.000000,4.407329,1.005413,805.000000,2.450413,33.930000,-121.770000,1.167000
50%,3.447800,29.000000,5.170038,1.047619,1185.500000,2.842105,34.260000,-118.490000,1.741000
75%,4.583175,37.000000,5.944617,1.096884,1752.000000,3.308127,37.720000,-118.000000,2.485000
max,15.000100,52.000000,9.979167,3.411111,13251.000000,9.954545,41.950000,-114.550000,4.991000

Percentage of missing values:

MedInc        0.0
HouseAge      0.0
AveRooms      0.0
AveBedrms     0.0
Population    0.0
AveOccup      0.0
Latitude      0.0
Longitude     0.0
Price         0.0
dtype: float64

2. Separate the target from the features

In [5]:
# Separate target variable Y from features X
print("Separating labels from features...")
target_variable = "Price"

X = dataset.drop(target_variable, axis = 1)
Y = dataset.loc[:,target_variable]

print("...Done.")
print()

print('Y : ')
print(Y.head())
print()
print('X :')
X.head()

Separating labels from features...
...Done.

Y :
0    4.526
1    3.585
2    3.521
3    3.413
4    3.422
Name: Price, dtype: float64

X :

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

## From linear to non-linear regression
An easy way of implementing a non-linear regression is to create by hand more columns containing non-linear functions of the features.

3. For each explanatory variable, create 3 new columns in $X$ containing the following functions:
* $\textrm{X}^2$
* $\textrm{X}^3$
* $\textrm{X}^4$
* $\frac{1}{\textrm{X}}$
* $\frac{1}{\textrm{X}^2}$

In [6]:
features_list = X.columns
for c in features_list:
    X.loc[:, c + '_2'] = X[c]**2
    X.loc[:, c + '_3'] = X[c]**3
    X.loc[:, c + '_4'] = X[c]**3
    X.loc[:, c + '_inverse'] = 1/X[c]
    X.loc[:, c + '_inverse2'] = 1/(X[c]**2)
X.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedInc_2,MedInc_3,...,Latitude_2,Latitude_3,Latitude_4,Latitude_inverse,Latitude_inverse2,Longitude_2,Longitude_3,Longitude_4,Longitude_inverse,Longitude_inverse2
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,69.308955,577.010912,...,1434.8944,54353.799872,54353.799872,0.026399,0.000697,14940.1729,-1.826137e+06,-1.826137e+06,-0.008181,0.000067
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,68.913242,572.076387,...,1433.3796,54267.751656,54267.751656,0.026413,0.000698,14937.7284,-1.825689e+06,-1.825689e+06,-0.008182,0.000067
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,52.669855,382.246204,...,1432.6225,54224.761625,54224.761625,0.026420,0.000698,14942.6176,-1.826586e+06,-1.826586e+06,-0.008181,0.000067
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,31.844578,179.702136,...,1432.6225,54224.761625,54224.761625,0.026420,0.000698,14945.0625,-1.827034e+06,-1.827034e+06,-0.008180,0.000067
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,14.793254,56.897815,...,1432.6225,54224.761625,54224.761625,0.026420,0.000698,14945.0625,-1.827034e+06,-1.827034e+06,-0.008180,0.000067

4. Split your dataset into train (80%) and test (20%)

In [7]:
# Divide dataset Train set & Test set 
print("Dividing into train and test sets...")
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=0)
print("...Done.")
print()

Dividing into train and test sets...
...Done.

5. Apply the same preprocessing as in the previous exercise

In [8]:
# Preprocessing
print("Preprocessing X_train...")
print(X_train.head())
print()
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
print("...Done!")
print(X_train[0:5,:]) # X_train is now a numpy array

Preprocessing X_train...
       MedInc  HouseAge  AveRooms  AveBedrms  Population  AveOccup  Latitude  \
3235   2.3889       6.0  6.316614   1.294671       992.0  3.109718     36.09
13981  3.4912       7.0  8.355308   1.554795      2933.0  2.511130     34.85
9219   1.9464      36.0  4.975510   1.053061       639.0  2.608163     37.12
10851  3.1667      22.0  3.803838   1.000000      1952.0  2.081023     33.66
8888   4.2520      31.0  3.978296   1.039389      1985.0  1.595659     34.03

       Longitude   MedInc_2   MedInc_3  ...  Latitude_2    Latitude_3  \
3235     -119.57   5.706843  13.633078  ...   1302.4881  47006.795529
13981    -117.46  12.188477  42.552412  ...   1214.5225  42326.109125
9219     -120.27   3.788473   7.373884  ...   1377.8944  51147.440128
10851    -117.90  10.027989  31.755632  ...   1132.9956  38136.631896
8888     -118.49  18.079504  76.874051  ...   1158.0409  39408.131827

         Latitude_4  Latitude_inverse  Latitude_inverse2  Longitude_2  \
3235   47006.795529          0.027709           0.000768   14296.9849
13981  42326.109125          0.028694           0.000823   13796.8516
9219   51147.440128          0.026940           0.000726   14464.8729
10851  38136.631896          0.029709           0.000883   13900.4100
8888   39408.131827          0.029386           0.000864   14039.8801

        Longitude_3   Longitude_4  Longitude_inverse  Longitude_inverse2
3235  -1.709490e+06 -1.709490e+06          -0.008363            0.000070
13981 -1.620578e+06 -1.620578e+06          -0.008514            0.000072
9219  -1.739690e+06 -1.739690e+06          -0.008315            0.000069
10851 -1.638858e+06 -1.638858e+06          -0.008482            0.000072
8888  -1.663585e+06 -1.663585e+06          -0.008440            0.000071

[5 rows x 48 columns]

...Done!
[[-8.19927084e-01 -1.80892400e+00  9.55328430e-01  1.78190047e+00
  -4.16134941e-01  2.18006083e-01  2.11764744e-01 -2.73283112e-03
  -7.23284862e-01 -5.55080709e-01 -5.55080709e-01  5.13008216e-01
   1.82695953e-01 -1.26498533e+00 -9.49143480e-01 -9.49143480e-01
   2.46604354e+00  1.09423468e+00  9.05288599e-01  8.03814419e-01
   8.03814419e-01 -8.33507043e-01 -6.12210207e-01  1.45391405e+00
   1.00467627e+00  1.00467627e+00 -1.89314156e+00 -1.63270329e+00
  -3.05939544e-01 -1.69174011e-01 -1.69174011e-01 -7.12692942e-02
  -2.04111800e-02  7.67587648e-02 -3.41707972e-02 -3.41707972e-02
  -4.40113786e-01 -4.73219971e-01  1.80503284e-01  1.49155312e-01
   1.49155312e-01 -2.73488382e-01 -3.03698049e-01 -5.61484636e-03
   1.39454572e-02  1.39454572e-02  1.94679289e-02 -2.78495433e-02]
 [-1.12594285e-01 -1.72879039e+00  2.70646520e+00  3.80387675e+00
   1.40114366e+00 -5.61637519e-01 -3.67622089e-01  1.05246805e+00
  -2.62141004e-01 -3.10620943e-01 -3.10620943e-01 -2.65306230e-01
  -2.83619984e-01 -1.24741974e+00 -9.45845287e-01 -9.45845287e-01
   1.96672692e+00  7.45073583e-01  3.26850856e+00  3.77972789e+00
   3.77972789e+00 -1.55246631e+00 -9.56925512e-01  3.50865239e+00
   2.78195771e+00  2.78195771e+00 -3.27882867e+00 -2.58813351e+00
   7.43881852e-01  2.21042406e-01  2.21042406e-01 -2.25648180e-01
  -2.13585561e-02 -5.33045492e-01 -4.27860803e-01 -4.27860803e-01
   4.03652832e-01  2.60892706e-01 -3.88044989e-01 -4.07351745e-01
  -4.07351745e-01  3.23827337e-01  3.00657881e-01 -1.04888652e+00
   1.04525437e+00  1.04525437e+00 -1.05947081e+00  1.06288768e+00]
 [-1.10387407e+00  5.95084207e-01 -1.96613519e-01 -9.61635976e-02
  -7.46634346e-01 -4.35254612e-01  6.93029614e-01 -3.52799474e-01
  -8.59769679e-01 -6.07990677e-01 -6.07990677e-01  1.07342507e+00
   6.26727101e-01  4.37526139e-01  2.56904104e-01  2.56904104e-01
  -4.46636708e-01 -1.85276619e-01 -2.91185513e-01 -3.53787141e-01
  -3.53787141e-01 -3.92891472e-02 -1.20046672e-01 -1.18532973e-01
  -1.16790980e-01 -1.16790980e-01  7.14415544e-03 -3.88173782e-02
  -3.85277113e-01 -1.80681447e-01 -1.80681447e-01  5.75996517e-02
  -1.89028085e-02 -4.43014745e-01 -3.75116411e-01 -3.75116411e-01
   2.40572805e-01  1.06816507e-01  6.67877004e-01  6.41454463e-01
   6.41454463e-01 -7.39304271e-01 -7.60341444e-01  3.44597377e-01
  -3.36346945e-01 -3.36346945e-01  3.69046705e-01 -3.77085853e-01]
 [-3.20822075e-01 -5.26786290e-01 -1.20302182e+00 -5.08615628e-01
   4.82673641e-01 -1.12183932e+00 -9.23646549e-01  8.32426160e-01
  -4.15851626e-01 -4.01887853e-01 -4.01887853e-01 -9.24595537e-02
  -1.95163473e-01 -6.59647921e-01 -6.78224263e-01 -6.78224263e-01
  -7.59319495e-02 -1.23944672e-01 -1.10389164e+00 -9.65869120e-01
  -9.65869120e-01  1.11295801e+00  8.01812074e-01 -4.20522882e-01
  -3.04516180e-01 -3.04516180e-01  5.47452051e-01  4.74271237e-01
   8.35172295e-02 -6.52201289e-02 -6.52201289e-02 -1.85996350e-01
  -2.12046505e-02 -8.91021067e-01 -6.16512753e-01 -6.16512753e-01
   1.30962474e+00  1.22319982e+00 -9.14977997e-01 -9.05456817e-01
  -9.05456817e-01  9.38440688e-01  9.44569688e-01 -8.32865022e-01
   8.33219788e-01  8.33219788e-01 -8.31291937e-01  8.30594457e-01]
 [ 3.75602027e-01  1.94416173e-01 -1.05317117e+00 -2.02439111e-01
   5.13570186e-01 -1.75401259e+00 -7.50764994e-01  5.37369990e-01
   1.56983344e-01 -2.04946370e-02 -2.04946370e-02 -5.67114060e-01
  -4.17401511e-01 -1.51257206e-02 -1.81080230e-01 -1.81080230e-01
  -3.52679281e-01 -1.72532861e-01 -9.96627544e-01 -8.94670953e-01
  -8.94670953e-01  8.98387217e-01  6.11500015e-01 -1.97838864e-01
  -1.67025046e-01 -1.67025046e-01  1.41088055e-01  8.59063564e-02
   1.01420385e-01 -5.90481832e-02 -5.90481832e-02 -1.87967228e-01
  -2.12137601e-02 -1.21445439e+00 -7.53373793e-01 -7.53373793e-01
   2.91854846e+00  3.37649337e+00 -7.53102650e-01 -7.54282690e-01
  -7.54282690e-01  7.42737642e-01  7.37110170e-01 -5.41932175e-01
   5.46406461e-01  5.46406461e-01 -5.27984496e-01  5.23162565e-01]]

In [9]:
print("Preprocessing X_test...")
print(X_test.head())
print()
X_test = scaler.transform(X_test) # don't fit again !
print("...Done!")
print(X_test[0:5,:]) # X_train is now a numpy array

Preprocessing X_test...
       MedInc  HouseAge  AveRooms  AveBedrms  Population  AveOccup  Latitude  \
17333  5.2990      12.0  7.214932   1.047511      1200.0  2.714932     34.91
1012   2.6667      44.0  4.541284   1.027523       277.0  2.541284     37.68
5124   1.5521      30.0  3.850679   1.002262      1966.0  4.447964     33.99
1845   6.3538      49.0  6.293886   1.017751      1148.0  2.264300     37.90
4035   3.2154      20.0  4.133444   1.060181      7450.0  1.772122     34.17

       Longitude   MedInc_2    MedInc_3  ...  Latitude_2    Latitude_3  \
17333    -120.44  28.079401  148.792746  ...   1218.7081  42545.099771
1012     -121.77   7.111289   18.963674  ...   1419.7824  53497.400832
5124     -118.26   2.409014    3.739031  ...   1155.3201  39269.330199
1845     -122.28  40.370774  256.507827  ...   1436.4100  54439.939000
4035     -118.52  10.338797   33.243368  ...   1167.5889  39896.512713

         Latitude_4  Latitude_inverse  Latitude_inverse2  Longitude_2  \
17333  42545.099771          0.028645           0.000821   14505.7936
1012   53497.400832          0.026539           0.000704   14827.9329
5124   39269.330199          0.029420           0.000866   13985.4276
1845   54439.939000          0.026385           0.000696   14952.3984
4035   39896.512713          0.029265           0.000856   14046.9904

        Longitude_3   Longitude_4  Longitude_inverse  Longitude_inverse2
17333 -1.747078e+06 -1.747078e+06          -0.008303            0.000069
1012  -1.805597e+06 -1.805597e+06          -0.008212            0.000067
5124  -1.653917e+06 -1.653917e+06          -0.008456            0.000072
1845  -1.828379e+06 -1.828379e+06          -0.008178            0.000067
4035  -1.664849e+06 -1.664849e+06          -0.008437            0.000071

[5 rows x 48 columns]

...Done!
[[ 1.04744947 -1.32812236  1.72693875 -0.13930381 -0.22139308 -0.29619119
  -0.33958724 -0.43781566  0.86843834  0.5874456   0.5874456  -0.84075904
  -0.5159755  -1.11905578 -0.90987681 -0.90987681  0.71843539  0.10718311
   1.86566728  1.9136803   1.9136803  -1.20037727 -0.80008105 -0.15085042
  -0.13734077 -0.13734077  0.06109415  0.01122288 -0.24311142 -0.15707881
  -0.15707881 -0.11170421 -0.02074989 -0.34000705 -0.31236615 -0.31236615
   0.07460051 -0.04399513 -0.36099219 -0.381315   -0.381315    0.29394803
   0.2699244   0.42995743 -0.42203602 -0.42203602  0.45333115 -0.46098272]
 [-0.64166613  1.23615306 -0.56959193 -0.29467615 -1.08556008 -0.52236244
   0.95468818 -1.10294228 -0.62336384 -0.51002032 -0.51002032  0.25621231
   0.00951432  1.30229387  1.25747691  1.25747691 -0.55255235 -0.19736173
  -0.61767668 -0.61894617 -0.61894617  0.31839396  0.13978309 -0.26582877
  -0.20956556 -0.20956556  0.26022794  0.19821476 -0.4309706  -0.18453718
  -0.18453718  0.53087518 -0.00776121 -0.50543281 -0.41189701 -0.41189701
   0.35163994  0.21111713  0.93861181  0.92085146  0.92085146 -0.9818765
  -0.99304936  1.1019359  -1.10081496 -1.10081496  1.10461025 -1.10527128]
 [-1.35689169  0.11428257 -1.16278792 -0.49102935  0.49578127  1.96103359
  -0.76945489  0.65239189 -0.95791296 -0.63871667 -0.63871667  1.84202965
   1.38311784 -0.0975489  -0.25356255 -0.25356255 -0.3301295  -0.16919133
  -1.07556422 -0.94737757 -0.94737757  1.05343787  0.74816593 -0.40796513
  -0.29690478 -0.29690478  0.52324656  0.45071769  0.09107585 -0.06262699
  -0.06262699 -0.18684056 -0.02120857  1.90985526  1.56764567  1.56764567
  -1.50508639 -1.17657331 -0.770688   -0.77078542 -0.77078542  0.76368932
   0.75921207 -0.65551939  0.65855566  0.65855566 -0.64586306  0.64246175]
 [ 1.72430209  1.6368211   0.9358055  -0.37063099 -0.27007855 -0.88312705
   1.05748262 -1.35799084  1.74292326  1.49797843  1.49797843 -1.02524811
  -0.57023635  1.93060168  2.10059351  2.10059351 -0.60118709 -0.20210127
   0.8826435   0.77946155  0.77946155 -0.82286628 -0.60638893 -0.3212306
  -0.24386686 -0.24386686  0.36042239  0.29366232 -0.25993629 -0.1605385
  -0.1605385  -0.10296914 -0.02068216 -0.7466802  -0.54470154 -0.54470154
   0.88149021  0.7459781   1.04608102  1.0329139   1.0329139  -1.0752115
  -1.08166055  1.36156934 -1.36506597 -1.36506597  1.35059093 -1.34677083]
 [-0.28957186 -0.6870535  -0.9199063  -0.04082233  5.63022529 -1.52417501
  -0.68535035  0.52236713 -0.39373879 -0.38931178 -0.38931178 -0.12062489
  -0.2101655  -0.77314869 -0.74699287 -0.74699287  0.01939213 -0.1033879
  -0.89719541 -0.82587914 -0.82587914  0.72278193  0.46209728 -0.07682535
  -0.09011024 -0.09011024 -0.06123709 -0.10186308  7.20671833  6.46746505
   6.46746505 -0.27348561 -0.02146196 -1.10674406 -0.71182849 -0.71182849
   2.23163223  2.38761548 -0.69139104 -0.69621697 -0.69621697  0.66979306
   0.66036381 -0.52710018  0.53174616  0.53174616 -0.51264276  0.50765298]]

6. Train a model including all these features. Do you get better performances than before?

In [10]:
# Train model
print("Train model...")
regressor = LinearRegression()
regressor.fit(X_train, Y_train)
print("...Done.")

Train model...
...Done.

In [11]:
# Print R^2 scores
print("R2 score on training set : ", regressor.score(X_train, Y_train))
print("R2 score on test set : ", regressor.score(X_test, Y_test))

R2 score on training set :  0.6806483963682184
R2 score on test set :  0.6832246870490242

## Forward selection
This feature engineering trick improved the model's score significantly ! But now, the model is a lot more complex as it uses 32 input features. Do we really need all these features? Let's implement the forward selection method described in this morning's lecture. 

Fortunately, the latest versions of sklearn provide a class that implements forward selection, such that we don't need to code the algorithm by hand 🥳

7. Have a look at the documentation of [SequentialFeatureSelector](https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.SequentialFeatureSelector.html) and try to understand the following lines of code:

In [12]:
from sklearn.feature_selection import  SequentialFeatureSelector
feature_selector =  SequentialFeatureSelector(regressor, n_features_to_select = 20)
feature_selector.fit(X_train, Y_train)
features_list = X.columns
best_features = features_list[feature_selector.support_]
print("According to the forward selection algorithm, the following features should be kept: ")
print(best_features.to_list())

According to the forward selection algorithm, the following features should be kept:
['MedInc', 'HouseAge', 'Population', 'Latitude', 'MedInc_inverse2', 'HouseAge_inverse', 'AveRooms_3', 'AveRooms_inverse', 'AveRooms_inverse2', 'AveBedrms_2', 'AveBedrms_inverse', 'Population_inverse2', 'AveOccup_3', 'AveOccup_inverse', 'AveOccup_inverse2', 'Latitude_2', 'Latitude_3', 'Latitude_inverse', 'Latitude_inverse2', 'Longitude_inverse2']

8. Create a DataFrame X_best containing only the best set of features, train a model only with these features and evaluate the performances

In [13]:
X_best = X.loc[:, best_features]

# Divide dataset Train set & Test set 
print("Dividing into train and test sets...")
X_train, X_test, Y_train, Y_test = train_test_split(X_best, Y, test_size=0.2, random_state=0)
print("...Done.")
print()

# Preprocessing
print("Preprocessing X_train...")
print(X_train.head())
print()
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
print("...Done!")
print(X_train[0:5,:]) # X_train is now a numpy array

print("Preprocessing X_test...")
print(X_test.head())
print()
X_test = scaler.transform(X_test) # don't fit again !
print("...Done!")
print(X_test[0:5,:]) # X_train is now a numpy array

# Train model
print("Train model...")
regressor = LinearRegression()
regressor.fit(X_train, Y_train)
print("...Done.")

# Print R^2 scores
print("R2 score on training set : ", regressor.score(X_train, Y_train))
print("R2 score on test set : ", regressor.score(X_test, Y_test))

Dividing into train and test sets...
...Done.

Preprocessing X_train...
       MedInc  HouseAge  Population  Latitude  MedInc_inverse2  \
3235   2.3889       6.0       992.0     36.09         0.175228
13981  3.4912       7.0      2933.0     34.85         0.082045
9219   1.9464      36.0       639.0     37.12         0.263959
10851  3.1667      22.0      1952.0     33.66         0.099721
8888   4.2520      31.0      1985.0     34.03         0.055311

       HouseAge_inverse  AveRooms_3  AveRooms_inverse  AveRooms_inverse2  \
3235           0.166667  252.030501          0.158313           0.025063
13981          0.142857  583.293888          0.119684           0.014324
9219           0.027778  123.172247          0.200984           0.040395
10851          0.045455   55.038428          0.262892           0.069112
8888           0.032258   62.963842          0.251364           0.063184

       AveBedrms_2  AveBedrms_inverse  Population_inverse2  AveOccup_3  \
3235      1.676173           0.772397         1.016194e-06   30.072045
13981     2.417386           0.643172         1.162454e-07   15.834621
9219      1.108938           0.949612         2.449054e-06   17.742071
10851     1.000000           1.000000         2.624463e-07    9.012202
8888      1.080330           0.962104         2.537926e-07    4.062753

       AveOccup_inverse  AveOccup_inverse2  Latitude_2    Latitude_3  \
3235           0.321573           0.103409   1302.4881  47006.795529
13981          0.398227           0.158585   1214.5225  42326.109125
9219           0.383412           0.147004   1377.8944  51147.440128
10851          0.480533           0.230912   1132.9956  38136.631896
8888           0.626700           0.392753   1158.0409  39408.131827

       Latitude_inverse  Latitude_inverse2  Longitude_inverse2
3235           0.027709           0.000768            0.000070
13981          0.028694           0.000823            0.000072
9219           0.026940           0.000726            0.000069
10851          0.029709           0.000883            0.000072
8888           0.029386           0.000864            0.000071

...Done!
[[-0.81992708 -1.808924   -0.41613494  0.21176474  0.18269595  2.46604354
   0.80381442 -0.83350704 -0.61221021  1.45391405 -1.89314156 -0.02041118
  -0.0341708  -0.44011379 -0.47321997  0.18050328  0.14915531 -0.27348838
  -0.30369805 -0.02784954]
 [-0.11259428 -1.72879039  1.40114366 -0.36762209 -0.28361998  1.96672692
   3.77972789 -1.55246631 -0.95692551  3.50865239 -3.27882867 -0.02135856
  -0.4278608   0.40365283  0.26089271 -0.38804499 -0.40735174  0.32382734
   0.30065788  1.06288768]
 [-1.10387407  0.59508421 -0.74663435  0.69302961  0.6267271  -0.44663671
  -0.35378714 -0.03928915 -0.12004667 -0.11853297  0.00714416 -0.01890281
  -0.37511641  0.2405728   0.10681651  0.667877    0.64145446 -0.73930427
  -0.76034144 -0.37708585]
 [-0.32082208 -0.52678629  0.48267364 -0.92364655 -0.19516347 -0.07593195
  -0.96586912  1.11295801  0.80181207 -0.42052288  0.54745205 -0.02120465
  -0.61651275  1.30962474  1.22319982 -0.914978   -0.90545682  0.93844069
   0.94456969  0.83059446]
 [ 0.37560203  0.19441617  0.51357019 -0.75076499 -0.41740151 -0.35267928
  -0.89467095  0.89838722  0.61150001 -0.19783886  0.14108805 -0.02121376
  -0.75337379  2.91854846  3.37649337 -0.75310265 -0.75428269  0.74273764
   0.73711017  0.52316256]]
Preprocessing X_test...
       MedInc  HouseAge  Population  Latitude  MedInc_inverse2  \
17333  5.2990      12.0      1200.0     34.91         0.035613
1012   2.6667      44.0       277.0     37.68         0.140621
5124   1.5521      30.0      1966.0     33.99         0.415108
1845   6.3538      49.0      1148.0     37.90         0.024770
4035   3.2154      20.0      7450.0     34.17         0.096723

       HouseAge_inverse  AveRooms_3  AveRooms_inverse  AveRooms_inverse2  \
17333          0.083333  375.575064          0.138601           0.019210
1012           0.022727   93.656107          0.220202           0.048489
5124           0.033333   57.096812          0.259694           0.067441
1845           0.020408  249.319665          0.158884           0.025244
4035           0.050000   70.621393          0.241929           0.058530

       AveBedrms_2  AveBedrms_inverse  Population_inverse2  AveOccup_3  \
17333     1.097280           0.954644         6.944444e-07   20.011375
1012      1.055803           0.973214         1.303288e-05   16.411936
5124      1.004530           0.997743         2.587218e-07   88.000215
1845      1.035818           0.982558         7.587806e-07   11.609186
4035      1.123983           0.943235         1.801721e-08    5.565199

       AveOccup_inverse  AveOccup_inverse2  Latitude_2    Latitude_3  \
17333          0.368333           0.135669   1218.7081  42545.099771
1012           0.393502           0.154844   1419.7824  53497.400832
5124           0.224822           0.050545   1155.3201  39269.330199
1845           0.441638           0.195044   1436.4100  54439.939000
4035           0.564295           0.318429   1167.5889  39896.512713

       Latitude_inverse  Latitude_inverse2  Longitude_inverse2
17333          0.028645           0.000821            0.000069
1012           0.026539           0.000704            0.000067
5124           0.029420           0.000866            0.000072
1845           0.026385           0.000696            0.000067
4035           0.029265           0.000856            0.000071

...Done!
[[ 1.04744947 -1.32812236 -0.22139308 -0.33958724 -0.5159755   0.71843539
   1.9136803  -1.20037727 -0.80008105 -0.15085042  0.06109415 -0.02074989
  -0.31236615  0.07460051 -0.04399513 -0.36099219 -0.381315    0.29394803
   0.2699244  -0.46098272]
 [-0.64166613  1.23615306 -1.08556008  0.95468818  0.00951432 -0.55255235
  -0.61894617  0.31839396  0.13978309 -0.26582877  0.26022794 -0.00776121
  -0.41189701  0.35163994  0.21111713  0.93861181  0.92085146 -0.9818765
  -0.99304936 -1.10527128]
 [-1.35689169  0.11428257  0.49578127 -0.76945489  1.38311784 -0.3301295
  -0.94737757  1.05343787  0.74816593 -0.40796513  0.52324656 -0.02120857
   1.56764567 -1.50508639 -1.17657331 -0.770688   -0.77078542  0.76368932
   0.75921207  0.64246175]
 [ 1.72430209  1.6368211  -0.27007855  1.05748262 -0.57023635 -0.60118709
   0.77946155 -0.82286628 -0.60638893 -0.3212306   0.36042239 -0.02068216
  -0.54470154  0.88149021  0.7459781   1.04608102  1.0329139  -1.0752115
  -1.08166055 -1.34677083]
 [-0.28957186 -0.6870535   5.63022529 -0.68535035 -0.2101655   0.01939213
  -0.82587914  0.72278193  0.46209728 -0.07682535 -0.06123709 -0.02146196
  -0.71182849  2.23163223  2.38761548 -0.69139104 -0.69621697  0.66979306
   0.66036381  0.50765298]]
Train model...
...Done.
R2 score on training set :  0.6641637766000131
R2 score on test set :  0.6722761833965927

**Thanks to forward selection, we restrained ourselves to only 20 features but still got the same performances as with the 40 initial features !** 🤓

## Advanced feature engineering
Let's make even more advanced feature engineering. Until now, we've included the latitude and longitude as such into the models. However, usually the GPS coordinates are not used rawly, instead we deduce some geographical information from these. Let's use an API that will allows to retrieve the name of the city from the latitude and longitude.

💡 As the calls to the API may be time-consuming, we'll work on a sample of the dataset.

9. Take a sample of your dataset X (the one that contains all the features and not only the best set, because we need the values of Latitude and Longitude). Keep only 150 rows.

In [14]:
X_sample = X.sample(150)
X_sample.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedInc_2,MedInc_3,...,Latitude_2,Latitude_3,Latitude_4,Latitude_inverse,Latitude_inverse2,Longitude_2,Longitude_3,Longitude_4,Longitude_inverse,Longitude_inverse2
1523,5.0499,32.0,6.213873,0.982659,486.0,2.809249,37.90,-122.08,25.501490,128.779974,...,1436.4100,54439.939000,54439.939000,0.026385,0.000696,14903.5264,-1.819423e+06,-1.819423e+06,-0.008191,0.000067
2704,3.5282,31.0,5.260563,1.017606,959.0,3.376761,32.83,-115.57,12.448195,43.919722,...,1077.8089,35384.466187,35384.466187,0.030460,0.000928,13356.4249,-1.543602e+06,-1.543602e+06,-0.008653,0.000075
2047,6.8162,15.0,7.383621,1.060345,766.0,3.301724,36.72,-119.72,46.460582,316.684622,...,1348.3584,49511.720448,49511.720448,0.027233,0.000742,14332.8784,-1.715932e+06,-1.715932e+06,-0.008353,0.000070
11174,2.9891,26.0,4.651394,1.003984,1121.0,2.233068,33.82,-117.97,8.934719,26.706768,...,1143.7924,38683.058968,38683.058968,0.029568,0.000874,13916.9209,-1.641779e+06,-1.641779e+06,-0.008477,0.000072
1763,3.6719,45.0,4.177778,0.888889,702.0,2.600000,37.95,-122.34,13.482850,49.507675,...,1440.2025,54655.684875,54655.684875,0.026350,0.000694,14967.0756,-1.831072e+06,-1.831072e+06,-0.008174,0.000067

10. Create a Y_sample variable containing the target values corresponding to the rows that were kept in X_sample

In [15]:
Y_sample = Y.loc[X_sample.index]
Y_sample.head()

1523     3.068
2704     0.675
2047     1.272
11174    2.052
1763     1.341
Name: Price, dtype: float64

11. Use the following help to translate the longitude and latitude of the data to find the cities corresponding to each observation: [geopy](https://pypi.org/project/geopy)

In [16]:
!pip install geopy

Requirement already satisfied: geopy in /opt/conda/lib/python3.9/site-packages (2.2.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /opt/conda/lib/python3.9/site-packages (from geopy) (1.52)

In [17]:
# Example of how to get the adress from a given pair of latitude/longitude coordinates
from geopy.geocoders import Nominatim

geolocator = Nominatim(user_agent="yet_another_app")
location = geolocator.reverse("52.509669, 13.376294")
loc_dict = dict(location.raw)
loc_dict["address"]

{'tourism': 'Potsdamer Platz',
 'road': 'Fontaneplatz',
 'suburb': 'Tiergarten',
 'borough': 'Mitte',
 'city': 'Berlin',
 'ISO3166-2-lvl4': 'DE-BE',
 'postcode': '10785',
 'country': 'Deutschland',
 'country_code': 'de'}

In [18]:
# Use geopy to extract the city of each row in the sample dataset
X_sample["City"] = 0
for i, row in X_sample.iterrows():
    geolocator = Nominatim(user_agent="yet_another_app_2")
    location = geolocator.reverse("{}, {}".format(X_sample.loc[i, "Latitude"], X_sample.loc[i, "Longitude"]), 
                                  timeout = None)
    loc_dict = dict(location.raw)
    try:
        X_sample.loc[i, "City"] = loc_dict["address"]["city"]
    except:
        try:
            X_sample.loc[i, "City"] = loc_dict["address"]["town"]
        except:
            try:
                X_sample.loc[i, "City"] = loc_dict["address"]["village"]
            except:
                pass
# If city was not found, replace by "Unknown"
X_sample.loc[X_sample['City'] == 0, 'City'] = "Unknown"

In [19]:
X_sample.describe(include='all')

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedInc_2,MedInc_3,...,Latitude_3,Latitude_4,Latitude_inverse,Latitude_inverse2,Longitude_2,Longitude_3,Longitude_4,Longitude_inverse,Longitude_inverse2,City
count,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.00000,150.000000,150.000000,150.000000,...,150.000000,150.000000,150.000000,150.000000,150.000000,1.500000e+02,1.500000e+02,150.000000,150.000000,150
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Los Angeles
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18
mean,3.788229,28.793333,5.274602,1.074467,1453.853333,2.962908,35.43540,-119.386600,16.855012,85.385706,...,44965.375344,44965.375344,0.028316,0.000804,14256.981259,-1.703008e+06,-1.703008e+06,-0.008378,0.000070,NaN
std,1.587811,11.718337,1.169843,0.151015,1216.489803,0.678291,2.09814,1.961286,13.992479,106.107927,...,8206.187950,8206.187950,0.001624,0.000091,469.795215,8.441531e+04,8.441531e+04,0.000137,0.000002,NaN
min,0.768500,4.000000,1.875000,0.843284,88.000000,1.567164,32.61000,-124.160000,0.590592,0.453870,...,34677.868581,34677.868581,0.024528,0.000602,13317.160000,-1.914014e+06,-1.914014e+06,-0.008666,0.000065,NaN
25%,2.663500,19.250000,4.503833,1.006466,772.250000,2.491288,33.94000,-121.475000,7.094256,18.895676,...,39096.286984,39096.286984,0.026564,0.000706,13905.716025,-1.792507e+06,-1.792507e+06,-0.008480,0.000068,NaN
50%,3.527500,29.000000,5.176892,1.055428,1181.500000,2.873880,34.18500,-118.385000,12.443257,43.893592,...,39949.079845,39949.079845,0.029253,0.000856,14015.008450,-1.659167e+06,-1.659167e+06,-0.008447,0.000071,NaN
75%,4.806725,36.000000,6.110404,1.095928,1672.000000,3.305331,37.64500,-117.922500,23.112218,111.166496,...,53348.538322,53348.538322,0.029464,0.000868,14756.176300,-1.639797e+06,-1.639797e+06,-0.008232,0.000072,NaN
max,8.240500,52.000000,8.606299,2.163636,10450.000000,6.039474,40.77000,-115.400000,67.905840,559.578077,...,67767.604533,67767.604533,0.030665,0.000940,15415.705600,-1.536800e+06,-1.536800e+06,-0.008054,0.000075,NaN

12. Make a train/test splitting from X_sample and Y_sample

In [20]:
# Divide dataset Train set & Test set 
print("Dividing into train and test sets...")
X_train, X_test, Y_train, Y_test = train_test_split(X_sample, Y_sample, test_size=0.2, random_state=0)
print("...Done.")
print()

Dividing into train and test sets...
...Done.

13. What preprocessings are necessary now ? The cells below implement the preprocessings, read it carefully and check what is done

In [21]:
categorical_features = ['City']
numeric_features = [c for c in X_sample.columns if c != 'City']

In [22]:
# Create transformer for numeric features
numeric_transformer = StandardScaler()

In [23]:
# Create transformer for categorical features
categorical_transformer = OneHotEncoder(drop='first', handle_unknown = 'ignore') # ignore if unknown categories are found in test set

In [24]:
# Use ColumnTransformer to make a preprocessor object that describes all the treatments to be done
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_features),
        ('cat', categorical_transformer, categorical_features)
    ])

In [25]:
# Preprocessings on train set
print("Performing preprocessings on train set...")
X_train = preprocessor.fit_transform(X_train)
print('...Done.')

# Preprocessings on test set
print("Performing preprocessings on test set...")
X_test = preprocessor.transform(X_test) # Don't fit again !! The test set is used for validating decisions
# we made based on the training set, therefore we can only apply transformations that were parametered using the training set.
# Otherwise this creates what is called a leak from the test set which will introduce a bias in all your results.
print('...Done.')

Performing preprocessings on train set...
...Done.
Performing preprocessings on test set...
...Done.

/opt/conda/lib/python3.9/site-packages/sklearn/preprocessing/_encoders.py:170: UserWarning: Found unknown categories in columns [0] during transform. These unknown categories will be encoded as all zeros
  warnings.warn(

14. Train a regression model and evaluate the performances. Are you satisfied?

In [26]:
# Train model
print("Train model...")
regressor = LinearRegression()
regressor.fit(X_train, Y_train)
print("...Done.")

# Print R^2 scores
print("R2 score on training set : ", regressor.score(X_train, Y_train))
print("R2 score on test set : ", regressor.score(X_test, Y_test))

Train model...
...Done.
R2 score on training set :  0.9999999999999997
R2 score on test set :  -828446.9266603033

**The R2 score is really good on the train set, but very disappointing on the test set. Actually, this problem is called "overfitting" and it's the subject of tomorrow's lecture! Spoiler: it's related to the balance between the number of features included in the model and the number of rows used for training. As we're working with a little sample, the model has not seen enough examples while training, and then it's not able to generalize well on the test set 🤓**